.container {
    width: 50vw;
    height: 50vh;
    background-color: rgb(107, 255, 255);
}

.border {
    background-color: rgb(107, 255, 124);

}

.border img {
    background-color: rgb(255, 107, 248);

}